@charset "UTF-8";
body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: white;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }


/* header styles */
header {
  color: white;
  background:  url(images/croissants_banner.jpg) no-repeat center center;
  background-size: cover; 
  text-align: center;
}
header p {
  font-style: italic;
  font-size: 1.2em;
}

/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #783F27;
}
nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* main "products" styles */
main {
  font-family: 'Stint Ultra Expanded', cursive;
  background-color: white;
  line-height: 1.8em;
  color: #555;
}
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7A0002;
}
p.more {
  font-family: verdana, sans-serif;
  text-transform: uppercase;
  font-size: .8em;
}

/* aside "hours" styles */
aside {
  background: url(images/scallop.png) repeat-y left top;
  background-color: #F6F3ED;
  margin-left: 150px;
}
/* misc styles */
footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
}
h2 {
  font-family: 'Stint Ultra Expanded', cursive;
}
.day {
  color: #783F27;
  font-family: verdana, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}



/* Marcell */

main{
  border: solid !important;
  border-color: yellow !important;
  border-radius: 30px;
}

main, h2, h3, p{
  margin: 30px;
}

main, h3{
  border-top: solid 1px brown;
  border-left: solid 3px brown;
}

main>h3{
  padding-left: 20px;
}


/* kiel */
#award{
  z-index: 100;
  position: absolute;
  top: 4em;
  left: 5em;

}
nav ul li a{
  text-decoration: none;
  border-bottom: dotted 2px;
  padding: 3px;
  font-weight: bold;
}
footer{
  padding: 5px;
  font-weight: bold;
}
header p{
  font-weight: bold;
  padding-bottom: 20px;
}
.more a{
  border-bottom: dotted 2px;
  text-decoration: none;
  font-weight: 800;
}
